#!/bin/bash


# Override Oh My ZSH aliases
# ===================================================
alias l='ls -lha --group-directories-first'



# Without sudo section
# ===================================================
alias apt='sudo apt'
alias apt-get='sudo apt-get'
alias dpkg='sudo dpkg'


# Dual boot section
# ===================================================

# Restart in Windows
# Windows need to be the second operating system in boot order.
alias windows='sudo grub-reboot 1 && sudo reboot'
alias win='windows'


# Development
# ===================================================

# Make
# ---------------------------------------------------
alias m='make'
alias mb='make build'
alias mc='make clean'
alias mi='make install'
alias mr='make release'
alias mw='make watch'

# Yarn
# ---------------------------------------------------
alias y='yarn'
alias ya='yarn add'
alias yb='yarn browsersync'
alias yd='yarn dev'
alias yp='yarn prod'
alias yr='yarn release'
alias ys='yarn start'
alias yt='yarn task'
alias yw='yarn watch'

# Vessel
# ---------------------------------------------------
alias v='./vessel'
