#!/bin/bash

# Without sudo section
# ===================================================
alias apt='sudo apt'
alias apt-get='sudo apt-get'
alias dpkg='sudo dpkg'

# VirtualBox section
# ===================================================
alias bb='vboxmanage snapshot Windows restore BB && vboxmanage startvm Windows'
alias caixa='vboxmanage snapshot Windows restore Caixa && vboxmanage startvm Windows'

# Dual boot section
# ===================================================

# Restart in Windows
# Windows need to be the second operating system in boot order.
alias windows='sudo grub-reboot 1 && sudo reboot'
alias win='windows'

# Development
# ===================================================

# Yarn
# ---------------------------------------------------
alias y='yarn'
alias ya='yarn add'
alias yd='yarn dev'
alias yp='yarn prod'
alias ys='yarn start'
alias yw='yarn watch'

# Github
# ===================================================
function gch {
  REPO=$1
  gcl github:$REPO
}

# Crypto
# ===================================================
function mb {
  curl -sX GET https://www.mercadobitcoin.net/api/${1:-BTC}/ticker/ | jq .
}

function bt {
  curl -sX GET https://api.bitcointrade.com.br/v1/public/${1:-BTC}/ticker/ | jq .
}

function crypto {
  echo 'Bitcoin - Mercado Bitcoin'
  mb BTC

  echo ''
  echo 'Bitcoin - BitcoinTrade'
  bt BTC

  echo ''
  echo 'Ethereum - BitcoinTrade'
  bt ETH
}
