# OpenAI
# -------------------------------------------------------------
OPENAI_API_KEY=''

# BitLocker drives
# -------------------------------------------------------------
DISLOCKER_WINDOWS=''
DISLOCKER_DESGRACERA=''
DISLOCKER_GAMES=''

# Gitlab
# -------------------------------------------------------------
GITLAB_ACCESS_TOKEN=''
