[Desktop Entry]
Type=Application
Name=Restart to Windows
Exec=/usr/share/applications/windows.sh
Icon=/usr/share/applications/windows.png
Categories=Development;
Comment=Shortcut to easy reboot to Windows 10
Terminal=false
