#!/bin/bash
# shellcheck disable=SC2139

# Bat
# ---------------------------------------------------
alias bat='batcat --paging=never --style=plain'
alias cat='bat'

# Brew
# ---------------------------------------------------
alias b='brew'
alias bs='brew services'
alias bsl='brew services list'
alias bsr='brew services restart'
alias bss='brew services stop'

# Clockify CLI
# ---------------------------------------------------
alias c='clockify-cli'
# Timer entry
alias cin='c in -i=0'
alias cins="cin -p Scaffold -s '$(date '+%Y-%m-%d %H:%M')' -d"
alias cinf="cin -p Financeiro -s '$(date '+%Y-%m-%d %H:%M')' -d"
alias cino="cin -p Operacional -s '$(date '+%Y-%m-%d %H:%M')' -d"
alias cint="cin -p Sociedade -s '$(date '+%Y-%m-%d %H:%M')' -d"
# Manual entry
alias cm='c manual -i=0'
alias cms="cm -p Scaffold -s '$(date '+%Y-%m-%d %H:%M')' -d"
alias cmf="cm -p Financeiro -s '$(date '+%Y-%m-%d %H:%M')' -d"
alias cmo="cm -p Operacional -s '$(date '+%Y-%m-%d %H:%M')' -d"
alias cmt="cm -p Sociedade -s '$(date '+%Y-%m-%d %H:%M')' -d"

# Docker
# ---------------------------------------------------
alias dps='docker ps'
alias dpsa="docker ps -a"
alias dpsas='docker ps -a --format "table {{.Names}}\t{{.Status}}" | (read -r; printf "%s\n" "$REPLY"; sort -k1)'
alias dpsg="dpsa | grep"
alias dpssg="dpsas | grep"
alias dpsaq='docker ps -a -q'
alias dpsq='docker ps -q'
alias dstart='docker start'
alias dstats='docker stats'
alias dstop='docker stop'
alias dkill='docker kill'
alias dr='docker run'
alias drm='docker rm'
alias drmf='docker rm -f'
alias drma='docker rm $(docker ps -q -a)'
alias drmfa='docker rm -f $(docker ps -q -a)'
alias drmi='docker rmi'
alias drmif='docker rmi -f'
alias drmia='docker rmi $(docker images -q)'
alias drmifa='docker rmi -f $(docker images -q)'
alias di='docker inspect'
alias dim='docker images'
alias dn='docker network'
alias ds='docker system'
alias dsp='docker system prune'
alias dspa='docker system prune -a'
alias dspaf='docker system prune -a -f'

# Docker applications
# ---------------------------------------------------
alias gitlab-runner='docker exec -it -w $PWD gitlab-runner gitlab-runner'
alias phpdoc='docker run --rm -v $PWD:/data phpdoc/phpdoc:3'
alias phpqa='docker run --init -it --rm -v "$(pwd):/project" -v "$(pwd)/tmp-phpqa:/tmp" -w /project jakzal/phpqa:alpine'

# Docker Compose
# ---------------------------------------------------
alias dc='docker-compose'
alias dcb='docker-compose build'
alias dcbn='docker-compose build --no-cache'
alias dce='docker-compose exec'
alias dck='docker-compose kill'
alias dcl='docker-compose logs'
alias dcr='docker-compose kill && docker-compose up'
alias dcrd='docker-compose kill && docker-compose up -d'
alias dcup='docker-compose up'
alias dcupd='docker-compose up -d'
alias dcdn='docker-compose down'

# Git
# ---------------------------------------------------
alias gb='git --no-pager branch'
alias gba='git --no-pager branch -a'
alias gbu='git branch -u'
alias gbum='git branch -u origin/master master'
alias gbud='git branch -u origin/develop develop'
alias gbudm='git branch -u origin/development development'
alias gco='git checkout'
alias gcd='git checkout develop'
alias gcdm='git checkout development'
alias gcs='git checkout stage'
alias gcm='git checkout master'
alias gcma='git checkout main'
alias gcmain='git checkout main'
alias gcu='git checkout upstream'
alias gstl='git --no-pager stash list'
alias gmn='git merge --no-ff --no-edit'
alias gfp='git fetch --all --prune'
alias gcs='git checkout stage'
alias gpf='git push -f'
alias ggc='git gc'
# It overrides 'gsts' from oh-my-zsh 'git stash show --text'
alias gsts='git stash save --include-untracked'

# Kool
# ---------------------------------------------------
alias ko='kool'
alias koe='kool exec'
alias koa='kool exec app'
alias kr='kool run'
alias kc='kool run composer'
alias krc='kool run composer'
alias kcd='kool run composer dump-autoload'
alias krcd='kool run composer dump-autoload'
alias kra='kool run artisan'
alias ks='kool start'
alias kstp='kool stop'

# Kubernetes
# ---------------------------------------------------
# alias kubectl="minikube kubectl --"
alias k='kubectl'
alias kd='kubectl describe'
alias ke='kubectl exec -it'
alias kl='kubectl logs -f'
alias kdn='kubectl describe -n'
alias ken='kubectl exec -it -n'
alias kln='kubectl logs -f -n'

# Make
# ---------------------------------------------------
alias m='make'
alias mb='make build'
alias mc='make clean'
alias mi='make install'
alias mr='make release'
alias mw='make watch'

# Misc
# ---------------------------------------------------
alias apt='sudo apt'
alias aptu='(
  apt update \
    && apt upgrade -yV \
    && apt autoclean \
    && apt autoremove -yV \
    && ansible-playbook $DOTBRAGA/src/ansible/dbeaver.yml \
    && ansible-playbook $DOTBRAGA/src/ansible/gimp.yml
)'

alias aptitude='sudo aptitude'
alias dpkg='sudo dpkg'
alias snap='sudo snap'
alias find='sudo find'

alias r="busctl --user call org.gnome.Shell /org/gnome/Shell org.gnome.Shell Eval s 'Meta.restart("'"Restarting"'")'"
alias rm='/bin/rm'
alias watch='watch -n 1 '

alias www="cd ${HOME}/www"
alias oss="cd ${HOME}/www/oss"

# Which `ls` app to use. It can be: `ls`, `lsd` or `colorls`.
# TODO: Test flag --color=tty
LS_BIN='colorls'
LS_CMD="LC_COLLATE=C ${LS_BIN} --group-directories-first"
alias l="${LS_CMD} -alh"
alias ll="${LS_CMD} -lh"
alias ls="${LS_CMD} -a"

# tcpdump
# ---------------------------------------------------
alias tcpdump='sudo tcpdump'
alias tcp='tcpdump'

# Terraform
# ---------------------------------------------------
alias tf='terraform'
alias tfa='terraform apply'
alias tfd='terraform destroy'
alias tff='terraform fmt'
alias tfi='terraform init'
alias tfv='terraform validate'

# Telepresence
# ---------------------------------------------------
alias tl='telepresence'
alias tp='telepresence'

# Vessel
# ---------------------------------------------------
alias v='./vessel'
alias vup='v start'
alias vst='v start'
alias vstart='v start'
alias vdn='v down'
alias vdown='v down'

# Yarn
# ---------------------------------------------------
alias y='yarn'
alias ya='yarn add'
alias yau='yarn audit'
alias yb='yarn build'
alias yc='yarn create'
alias yd='yarn dev'
alias yp='yarn prod'
alias yr='yarn release'
alias yrm='yarn remove'
alias ys='yarn start'
alias yt='yarn test'
alias yw='yarn watch'
alias yyau='yarn && yarn audit'
alias yys='yarn && yarn start'
alias yyw='yarn && yarn watch'

# Dotbraga
# ---------------------------------------------------
alias dot="${HOME}/www/braga/dotbraga/install"
alias dotbraga="${HOME}/www/braga/dotbraga/install"
