[alias]
  undo = reset --soft HEAD~1
[core]
  editor = code --wait
  autocrlf = false
  eol = lf
  fileMode = false
[diff]
  tool = default-difftool
[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE
[pull]
  rebase = true
[advice]
  pushNonFastForward = false
  statusHints = false
  commitBeforeMerge = false
  resolveConflict = false
  detachedHead = false
[init]
  defaultBranch = master
[include]
  path = ~/www/.gitconfig
