#!/bin/bash

# Brew
# ---------------------------------------------------
alias b='brew'
alias bs='brew services'
alias bsl='brew services list'
alias bsr='brew services restart'
alias bss='brew services stop'

# Docker
# ---------------------------------------------------
alias dps='docker ps'
alias dpsa='docker ps -a'
alias dstop='docker stop'
alias dr='docker run'
alias drm='docker rm'
alias drma='docker rm $(docker ps -q -a)'
alias drmi='docker rmi $(docker images -q)'
alias di='docker inspect'
alias dim='docker images'
alias dn='docker network'

# Docker Compose
# ---------------------------------------------------
alias dc='docker-compose'
alias dcb='docker-compose build'
alias dcbn='docker-compose build --no-cache'
alias dce='docker-compose exec'
alias dck='docker-compose kill'
alias dcl='docker-compose logs'
alias dcr='docker-compose kill && docker-compose up'
alias dcrd='docker-compose kill && docker-compose up -d'
alias dcup='docker-compose up'
alias dcupd='docker-compose up -d'
alias dcdn='docker-compose down'

# Git
# ---------------------------------------------------
alias gb='git --no-pager branch'
alias gba='git --no-pager branch -a'
alias gmn='git merge --no-ff --no-edit'
alias gfp='git fetch --all --prune'
alias gcs='git checkout stage'
alias gpf='git push -f'
alias ggc='git gc'

# Make
# ---------------------------------------------------
alias m='make'
alias mb='make build'
alias mc='make clean'
alias mi='make install'
alias mr='make release'
alias mw='make watch'

# Misc
# ---------------------------------------------------
alias apt='sudo apt'
alias aptu='apt update && apt upgrade -V && apt autoclean && apt autoremove -V'
alias aptitude='sudo aptitude'
alias dpkg='sudo dpkg'
alias snap='sudo snap'

alias l="LC_COLLATE=C ls -alh --color=tty --group-directories-first"
alias ls="LC_COLLATE=C ls -a --color=tty --group-directories-first"
alias ll="LC_COLLATE=C ls -lh --color=tty --group-directories-first"

alias rm='/bin/rm -v'

# Yarn
# ---------------------------------------------------
alias y='yarn'
alias ya='yarn add'
alias yau='yarn audit'
alias yb='yarn build'
alias yc='yarn create'
alias yd='yarn dev'
alias yp='yarn prod'
alias yr='yarn release'
alias yrm='yarn remove'
alias ys='yarn start'
alias yt='yarn test'
alias yw='yarn watch'
alias yyau='yarn; yarn audit'
alias yys='yarn; yarn start'
alias yyw='yarn; yarn watch'

# Vessel
# ---------------------------------------------------
alias v='./vessel'
alias vup='v start'
alias vst='v start'
alias vstart='v start'
alias vdn='v down'
alias vdown='v down'
